.card {
  perspective: 40rem;
  transform-style: preserve-3d;
  transition: 0.3s transform;
}


.card:hover {
  transform: rotateX(-180deg);
}

.card-front, .card-back {
  backface-visibility: hidden;
}

.card-back {
  transform: rotateX(-180deg);
}